* {
    font-family: "Roboto", sans-serif;
}

.first-page {
    height: 100vh;
    width: 100vw;
}

header {
    height: 10%;
    width: 100vw;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header {
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F9FAF8;
}

.header-logo:hover {
    opacity: 0.9;
    transform: scale(1.1);
    transition: all 0.1s;
}

a.header-link {
    color: #F9FAF8;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 1.5rem;
}

nav li {
    list-style-type: none;
}

a.nav-link {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 1.1rem;
}

a.nav-link:hover {
    opacity: 0.9;
    transition: all 0.1s;
}

.hero {
    height: 50%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.hero-content {
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.left-side-content {
    height: 60%;
    display: flex;
    flex-direction: column;
}

.hero-title {
    height: 50%;
    width: 60%;
    
}

.hero-title h1 {
    color: #F9FAF8;
    font-size: 2.5rem;
    font-weight: 900;
}

.hero-description {
    width: 70%;
    height: 30%;
}

.hero-description p {
    color: #E5E7EB;
    font-size: 1.1rem;
}

.button {
    display: flex;
    height: 20%;
    align-items: center;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: #E5E7EB;
    height: 70%;
    width: 20%;
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.05s;
}

.right-side {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.placeholder {
    width: 100%;
    height: 60%;
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder:hover {
    opacity: 0.9;
    transition: all 0.1s;
}

.placeholder > p {
    color: #E5E7EB;
    font-size: 1.1rem;
}

.section-two {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-two-content {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-two {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2rem;
    color: #1F2937;
    font-weight: 900;
}

.cards {
    height: 70%;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.card-content {
    width: 80%;
    height: 60%;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.card-content:hover {
    background-color: #3881f650;
    cursor: pointer;
}

.card-description {
    width: 80%;
    text-align: center;
}

.card-description > p {
    color: #1F2937;
}

.second-page {
    width: 100vw;
}

.quote-main {
    margin-top: 4rem;
    width: 100vw;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-section {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    font-size: 1.4rem;
    align-self: flex-end;
    padding-right: 3rem;
}


@media (max-width:1024px){
    .header {
        width: 80%;
    }

    .hero-content {
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section-two-content {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-title h1 {
        color: #F9FAF8;
        font-weight: 900;
    }

    .hero-description p {
        color: #E5E7EB;
        font-size: 0.9rem;
    }

    a.nav-link {
        color: #E5E7EB;
        text-decoration: none;
    }

    .card-description p {
        font-size: 0.7rem;
    }
}